* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;

}

table,
td,
th {
    border: 1px solid black;
}

.flex {
    display: flex;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

