.container {
    width: 1150px;
    margin: 0 auto;
}

a {
    color: black;
}

.info-user {
    margin-top: 50px;
}

.info-user.bg-main {
    background: #efefef;
}

.info-user .container {
    display: flex;
    height: 100vh;
}

.info-user .container .category-user {
    width: 40%;
}

.info-user .container .category-user .image-user {
    display: flex;
    width: 100%;
    padding-left: 20px;
}

.info-user .container .category-user .image-user .avatar {
    overflow: hidden;
    width: 10%;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 50%;
}

.info-user .container .category-user .image-user .avatar img {
    width: 100%;
}

.info-user .container .category-user .image-user .name-user {
    line-height: 1.2;
    padding-left: 20px;
}

.info-user .container .category-user .image-user .name-user .title-name {
    font-size: 15px;
}

.info-user .container .category-user .image-user .name-user .name {
    font-size: 20px;
    display: block;
}

.info-user .container .category-user ul {
    margin-top: 20px;
    margin-left: 10px;
}

.info-user .container .category-user ul span {
    font-size: 17px;
    padding-left: 10px;
}

.info-user .container .category-user ul li a {
    display: inline-block;
    width: 100%;
    padding: 15px 20px;
}

.info-user .container .category-user ul li a:hover {
    background: rgba(128, 128, 128, .2);
}

.info-user .container .category-user ul .account {
    padding-left: 2px;
}

.info-user .container .category-user ul .account span {
    padding-left: 13px;
}

.info-user .container .category-user ul .notify i {
    padding-left: 2px;
}

.info-user .container .category-user ul .notify span {
    padding-left: 14px;
}

.info-user .container .category-user ul .address i {
    padding-left: 3px;
}

.info-user .container .category-user ul .address span {
    padding-left: 17px;
}

.info-user .container .category-user ul .trading-history span {
    padding-left: 16px;
}

.info-user .container .LayoutInner {
    width: 60%;
    height: 100%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
}

.info-user .container .LayoutInner.bg-white {
    background-color: white;
}

.info-user .container .LayoutInner .container-layoutInner {
    padding: 0 30px;
}

.info-user .container .LayoutInner .container-layoutInner .title {
    position: relative;
    padding-top: 20px;
}

.info-user .container .LayoutInner .container-layoutInner .title::before {
    position: absolute;
    width: 100%;
    height: 1px;
    content: '';
    transform: translateY(50px);
    background: rgba(0, 0, 0, .2);
}

.info-user .container .LayoutInner .space-top {
    padding-top: 20px;
}

.info-user .container .LayoutInner.account_layout form {
    margin-top: 60px;
    margin-left: 40px;
}

.info-user .container .LayoutInner.account_layout form label {
    color: rgba(0, 0, 0, .6);
}

.info-user .container .LayoutInner.account_layout form .nickName span {
    padding-left: 50px;
}

.info-user .container .LayoutInner.account_layout form .fullName {
    display: flex;
    align-items: center;
}

.info-user .container .LayoutInner.account_layout form .fullName .input-name {
    padding-left: 84px;
}

.info-user .container .LayoutInner.account_layout form .fullName .input-name input {
    padding: 5px 150px 5px 0;
}

.info-user .container .LayoutInner.account_layout form .email span {
    padding-left: 109px;
}

.info-user .container .LayoutInner.account_layout form .email .change-pass {
    padding-left: 20px;
    text-decoration: underline;
    color: #344cb7;
}

.info-user .container .LayoutInner.account_layout form .numPhone span {
    padding-left: 63px;
}

.info-user .container .LayoutInner.account_layout form .numPhone .change-pass {
    padding-left: 30px;
    text-decoration: underline;
    color: #344cb7;
}

.info-user .container .LayoutInner.account_layout form .gender .inline {
    display: inline;
}

.info-user .container .LayoutInner.account_layout form .gender .radio-gender {
    padding-left: 90px;
}

.info-user .container .LayoutInner.account_layout form .gender .radio-gender label {
    color: black;
}

.info-user .container .LayoutInner.account_layout form .birthday {
    padding-top: 10px;
}

.info-user .container .LayoutInner.account_layout form .birthday .group-select {
    display: inline;
    padding-left: 83px;
}

.info-user .container .LayoutInner.account_layout form .birthday .group-select select option {
    padding: 0 5px;
}

.info-user .container .LayoutInner.account_layout form .btn-save {
    padding-top: 40px;
    padding-left: 154px;
}

.info-user .container .LayoutInner.account_layout form .btn-save button {
    padding: 15px 40px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    background: #344cb7;
}

.info-user .container .LayoutInner.address_layout .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-user .container .LayoutInner.address_layout .title .btn-saveAddress button {
    padding: 15px 25px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    background-color: #dd4a48;
}

.info-user .container .LayoutInner.address_layout form {
    margin-top: 60px;
}

.info-user .container .LayoutInner.address_layout form label {
    color: rgba(0, 0, 0, .6);
}

.info-user .container .LayoutInner.address_layout form .address_1 {
    position: relative;
    width: 100%;
}

.info-user .container .LayoutInner.address_layout form .address_1::before {
    position: absolute;
    bottom: -60px;
    width: 100%;
    height: 1px;
    content: '';
    background: rgba(0, 0, 0, .2);
}

.info-user .container .LayoutInner.address_layout form .address_1 .fullName {
    padding-left: 40px;
}

.info-user .container .LayoutInner.address_layout form .address_1 .fullName span {
    padding-left: 80px;
}

.info-user .container .LayoutInner.address_layout form .address_1 .phone {
    padding-left: 40px;
}

.info-user .container .LayoutInner.address_layout form .address_1 .phone span {
    padding-left: 62px;
}

.info-user .container .LayoutInner.address_layout form .address_1 .addr {
    padding-left: 40px;
}

.info-user .container .LayoutInner.address_layout form .address_1 .addr span {
    padding-left: 100px;
}